<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Logg inn</title>
        <link rel="stylesheet" href="../public/login.css"> <!--link til css-->
    </head>
    <body>
        <h2>Logg inn</h2>
        <% if (message) { %>
            <p style="color: red;"><%= message %></p>
        <% } %>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Brukernavn" required><br>
            <input type="password" name="password" placeholder="Passord" required><br>
            <button type="submit">Logg inn</button>
        </form>
        <p>Har du ikke en konto? <a href="register">Registrer deg</a></p>
    </body>
</html>


