<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrering</title>
        <link rel="stylesheet" href="../public/registrer.css"> <!--link til css-->
    </head>
    <body>
        <h2>Registrer deg</h2>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Brukernavn" required><br>
            <input type="password" name="password" placeholder="Passord" required><br>
            <button type="submit">Registrer</button>
        </form>
        <p>Har du allerede en konto? <a href="login.ejs">Logg inn</a></p>
    </body>
</html>

<!-- Isak was here 10.04.25 kl. 09:09 -->
