/* Generelle stiler */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', sans-serif;
}

body {
  background-color: #e6e6e6;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

header nav ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}

main h1 {
  text-align: center;
  margin: 20px 0;
  color: #444;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}


.box4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: color 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}