/* filepath: c:\Users\oskar\OneDrive - Vestland fylkeskommune\Nettside-2\public\style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
}

form {
    margin: 20px;
}